<p id="notice"><%= notice %></p>

<p>
  <strong>Patient:</strong>
  <%= @assignment.patient.name %>
</p>

<p>
  <strong>Include items:</strong>
  <%= @assignment.template.tasks.each do |task| %>
    <ol><%= task.title %></ol>
  <% end %>
</p>

<%= link_to 'Edit', edit_assignment_path(@assignment) %> |
<%= link_to 'Back', assignments_path(patient_id: @assignment.patient_id) %>
