<p id="notice"><%= notice %></p>

<h1><%= task_name %> items </h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.body %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to 'Show', task_path(task,template_id: params[:template_id]) %></td>
        <td><%= link_to 'Edit', edit_task_path(task,template_id: params[:template_id]) %></td>
        <td><%= link_to 'Destroy', task_path(task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add item', new_task_path(template_id: params[:template_id]) %>
<br>
<%= link_to 'Back', templates_path %>
